{% extends "../base.html" %}

{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static 'signup.css' %}">

<div id="wrapper">
<!--  <img src="{% static 'admin/img/icon-yes.svg' %}" />-->
  <div class="main-content">
    <div class="header">
      <img src="https://i.imgur.com/zqpwkLQ.png" />
    </div>
    <div class="l-part">
      <form action="/users/signup/" method="post">
        {% for field in form.visible_fields %}

          {{ field.label }}
          {{ field }}

        {% endfor %}
      </form>
    </div>
  </div>
</div>

{% endblock %}